.about {
  background-color: #0a2850;
  color: #ffffff;
  padding: 100px 80px 173px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.about__circle {
  position: absolute;
  border-radius: 50%;
  background-color: #1878dc;
  width: 426px;
  height: 426px;
  top: -152px;
  left: -129px;
  z-index: 1;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}

.about__title {
  max-width: 251px;
  font-family: "Inter, Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  z-index: 2;
}

.about__content {
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  max-width: 660px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  gap: 20px;
}

.about__paragraph {
  margin: 0;
}
