.card {
  width: 540px;
  margin-top: 0;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  margin-top: 0;
}

.card__list {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
}

.card__list-item {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
}
