.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 80px 60px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
  margin: 0;
}

.footer__column {
  color: #ffffff;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
}

.footer__list {
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__social-link {
  color: #ffffff;
  text-decoration: none;
  transition: ease-in 0.5s smooth;
}

.footer__social-link:hover {
  opacity: 70%;
}

.footer__copyright {
  display: flex;
  justify-content: left;
  margin: 108px 0px 0px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
