.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  color: #000;
}

.form__input::placeholder {
  font-family: "Inter, Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__button {
  padding: 20px 0;
  background-color: #1878dc;
  color: #fff;
  border: none;
  border-radius: 4px;
  border-color: #1878dc;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  border-radius: 2px;
}

.form__checkbox {
  border-radius: 2px;
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
