.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -30px;
}

.nav__links {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  font-family: "Inter, Arial, Helvetica, sans-serif";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  transition: ease-in 0.5s smooth;
}

.nav__link:hover {
  opacity: 0.5;
  transition: ease-in 0.5s smooth;
}
