.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;
  padding: 30px 80px 0px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -30px;
}

.nav__links {
  display: flex;
  gap: 40px;
  list-style: none;
  font-weight: 600;
}

.nav__link {
  font-family: "Inter";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.header__content {
  margin-top: 183px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  position: relative;
  max-width: 729px;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 729px;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin-top: 28px;
  margin-bottom: 200px;
}

.header__footer {
  margin-top: auto;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 0px;
  max-width: 1600px;
  margin-bottom: 40px;
}

.header__footer_address {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
  margin-bottom: 0px;
}

.header__paragraph-hours {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #6f6f6f;
  margin-bottom: 0px;
}

.header__paragraph-address {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #6f6f6f;
  margin-bottom: 0px;
}

.header__image {
  position: absolute;
  right: 5px;
  bottom: 100px;
  width: 646px;
  height: 568px;
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 100px 80px;
}

.recipes__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  margin-bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 580px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  margin-top: 80px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}
